<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All business - Listty</title>

    <!-- PLUGINS CSS STYLE -->
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="plugins/listtyicons/style.css" rel="stylesheet">
    <link href="plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">
    <link href="plugins/datepicker/datepicker.min.css" rel="stylesheet">
    <link href="plugins/selectbox/select_option1.css" rel="stylesheet">
    <link href="plugins/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="plugins/isotope/isotope.min.css" rel="stylesheet">
    <link href="plugins/map/css/map.css" rel="stylesheet">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="body-wrapper">
    <div class="page-loader" style="background: url(img/preloader.gif) center no-repeat #fff;"></div>
    <div class="main-wrapper">
        <!-- HEADER -->
        <header name="" id="pageTop" class="header">

            <!-- TOP INFO BAR -->

            <div class="nav-wrapper navbarWhite">

                <div class="container-fluid header-bg">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-6 header-left empty">empty
                        </div>
                        <div class="col-lg-8 col-sm-8 col-xs-6 header-right empty">empty
                        </div>
                    </div>
                </div>

                <!-- NAVBAR -->
                <nav name="" id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
                    <div class="container">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img src="img/WeSameWay Logo.png" alt="logo">
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">

                            <ul class="nav navbar-nav navbar-right">

                                <li class="">
                                    <a href="/search" style="font-weight:bolder">ค้นหารถ</a>
                                </li>
                                <li class="">
                                    <a href="/signup" style="font-weight:bolder">สมัครสมาชิก</a>
                                </li>
                                <li class="active">
                                    <a href="/partner-signup" style="font-weight:bolder">สมัครเป็นพาร์ทเนอร์</a>
                                </li>
                                <li class="dropdown singleDrop">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-weight:bolder">เข้าสู่ระบบ
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="customer-login.html">สมาชิก</a>
                                        </li>
                                        <li>
                                            <a href="partner-login.html">พาร์ทเนอร์</a>
                                        </li>

                                    </ul>
                                </li>
                                <!--<li class=""><a href="login.html" style="font-weight:bolder;font-size:large">เข้าสู่ระบบ</a></li>-->
                                <li class="">
                                    <a href="how-it-works.html" style="font-weight:bolder">วิธีใช้งาน</a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
        </header>


        <!-- PAGE TITLE SECTION -->
        <section class="clearfix pageTitleSection" style="background-image: url();">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pageTitle">
                            <h2>สมัครเป็นพาร์ทเนอร์กับเรา</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SIGN UP SECTION -->
        <section class="clearfix signUpSection">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="priceTableWrapper">
                            <div class="priceTableTitle">
                                <h2>Free
                                    <small>ไม่มีค่าบริการ ถึงสิ้นพฤษภาคมนี้เท่านั้น </small>
                                </h2>
                            </div>
                            <div class="priceAmount">
                                <h2>0
                                    <small>บาท/ปี</small>
                                </h2>
                            </div>
                            <div class="priceInfo">
                                <div class="priceShorting">
                                    <div class="checkbox-radio marginCheck">
                                        <input name="" id="radio39" type="radio" name="radio" value="41">
                                        <label for="radio39">
                                            <span></span>เพิ่มรายได้จากการรับสินค้าระหว่างทาง
                                        </label>
                                    </div>
                                    <div class="checkbox-radio marginCheck">
                                        <input name="" id="radio40" type="radio" name="radio" value="41">
                                        <label for="radio40">
                                            <span></span> ไม่ต้องกังวลว่าจะต้องตีรถเปล่ากลับ
                                        </label>
                                    </div>
                                    <div class="checkbox-radio marginCheck">
                                        <input name="" id="radio41" type="radio" name="radio" value="41">
                                        <label for="radio41">
                                            <span>
                                                <span></span>
                                            </span>ทำให้เพิ่มรอบในการวิ่งรถ
                                        </label>
                                    </div>
                                    <div class="checkbox-radio marginCheck">
                                        <input name="" id="radio42" type="radio" name="radio" value="42">
                                        <label for="radio42">
                                            <span>
                                                <span></span>
                                            </span>กำหนดประเภทสินค้าที่ต้องการรับได้
                                        </label>
                                    </div>
                                    <!--<div class="checkbox-radio marginCheck">
            <input name="" id="radio43" type="radio" name="radio" value="43">
            <label for="radio43">
                <span><span></span></span>Added keywords
            </label>
        </div>-->
                                </div>
                                <ul class="list-unstyled">
                                    <li style="color:red">* ถึงสิ้นพฤษภาคมนี้เท่านั้น *</li>
                                    <!--<li>2) ลดโอกาสที่จะต้องตีรถเปล่ากลับ</li>
							<li>3) ทำให้เพิ่มรอบในการวิ่งรถ</li>
							<li>4) กำหนดประเภทสินค้าที่ต้องการรับได้</li>-->

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-12">
                        <div class="signUpFormArea">
                            <div class="priceTableTitle">
                                <h2>ลงทะเบียนพาร์ทเนอร์</h2>
                                <p>กรุณากรอกข้อมูลข้างล่างเพื่อทำการสมัครเป็นสมาชิก. เราจะส่งข้อมูลตอบกลับไปยัง email ที่ท่านได้ลงทะเบียนไว้.
                                    ถ้าคุณเป็นสมาชิกของเราแล้ว คุณสามารถเข้าใช้งานได้ที่,
                                    <a href="/partner-login">click here</a>.</p>
                            </div>

                            <div class="signUpForm">
                                <form action="/partner/create"  method="POST" >
                                    <div class="formSection"></div>
                                    <h3>ข้อมูลพื้นฐาน</h3>
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-xs-12">
                                            <label for="firstName" class="control-label">ชื่อบริษัท*</label>
                                            <input type="text" class="form-control" name="company_name" id="company_name" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">เบอร์โทร*</label>
                                            <input type="text" class="form-control" name="telephone" id="telephone" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">เบอร์มือถือ*</label>
                                            <input type="text" class="form-control" name="mobile" id="mobile" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">ชื่อเจ้าของ*</label>
                                            <input type="text" class="form-control" name="firstname" id="firstname" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">นามสุกล*</label>
                                            <input type="text" class="form-control" name="lastName" id="lastName" required>
                                        </div>

                                        <div class="form-group col-xs-12">
                                            <label for="emailAdress" class="control-label">ที่อยู่*</label>
                                            <input type="email" class="form-control" name="address" id="address" required>
                                        </div>


                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">ตำบล/แขวง*</label>
                                            <input type="text" class="form-control" name="tambon" id="tambon" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">อำเภอ/เขต*</label>
                                            <input type="text" class="form-control" name="district" id="district" required>
                                        </div>
                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">จังหวัด*</label>
                                            <input type="text" class="form-control" name="province" id="province" required>
                                        </div>

                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">รหัสไปรษณีย์*</label>
                                            <input type="text" class="form-control" name="postcode" id="postcode" required>
                                        </div>
                                        <div class="form-group col-xs-12">
                                            <label for="lastName" class="control-label">อีเมลล์*</label>
                                            <input type="text" class="form-control" name="email" id="email" required>
                                        </div>
                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">เลขทะเบียนนิติบุคคล*</label>
                                            <input type="text" class="form-control" name="license_id" id="license_id" required>
                                        </div>
                                        <div class="form-group col-sm-6 col-xs-12">
                                            <label for="lastName" class="control-label">เลขกำกับภาษี*</label>
                                            <input type="text" class="form-control" name="vat_id" id="vat_id">
                                        </div>
                                    </div>
                            </div>
                            <div class="formSection">
                                <h3>Account Information</h3>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="usernames" class="control-label">Username*</label>
                                        <input type="text" class="form-control" name="username" id="username" required>
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label for="passwordFirst" class="control-label">Password*</label>
                                        <input type="password" class="form-control" name="password" id="password" required>
                                    </div>
                                    <div class="form-group col-sm-6 col-xs-12">
                                        <label for="passwordAgain" class="control-label">Password (re-type)*</label>
                                        <input type="password" class="form-control" name="passwordAgain" id="passwordAgain" required>
                                    </div>
                                </div>
                            </div>
                            <div class="formSection">
                                <h3>Security Control</h3>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="usernames" class="control-label">Confirm that you are human*</label>
                                        <img src="img/business/recaptcha.jpg" alt="Image captcha" class="img-responsive img-rtl">
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> I agree to the
                                                <a href="terms-of-services.html">Terms of Use</a> &
                                                <a href="#">Privacy Policy</a>. Your business listing is fully backed by our 100% money
                                                back guarantee.
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 mb0">
                                        <button type="submit" class="btn btn-primary">Create Account</button>
                                    </div>
                                </div>
                            </div>
                            <div class="formSection">
                                <div class="cardBox">
                                    <div class="paymentMethod">
                                        <img src="img/business/paypal.png" alt="Image paypal">
                                    </div>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">
                                                <img src="img/business/visa.jpg" alt="Image card">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="img/business/master-card.jpg" alt="Image card">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="img/business/american-express.jpg" alt="Image card">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img src="img/business/discover.jpg" alt="Image card">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <p>We use
                                    <span>PayPal</span> to process all transactions securely.
                                    <span>Payments can be made using any major credit card, without the need for a PayPal account</span>.
                                    If you already have a PayPal account, you can also pay with PayPal funds or through your
                                    bank account. We don't keep any credit card information stored on our site. No tax is
                                    added to your order. For more information
                                    <a href="https://www.paypal.com">www.paypal.com</a>
                                </p>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>

    <!-- FOOTER -->
    <footer class="footerWhite">
        <!-- FOOTER INFO -->
        <div class="clearfix footerInfo">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-xs-12">
                        <div class="footerText">
                            <a href="index.html" class="footerLogo">
                                <img src="img/logo-blue.png" alt="Footer Logo">
                            </a>
                            <p> ถูกกว่า สะดวกกว่า สินค้าปลอดภัย</p>
                            <ul class="list-styled list-contact">
                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i>[88] 657 524 332</li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <a href="#">info@wesameway.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="footerInfoTitle">
                            <h4>Links</h4>
                        </div>
                        <div class="useLink">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="dashboard.html">หน้าสมาชิก</a>
                                </li>
                                <li>
                                    <a href="sign-up.html">หน้าพาร์ทเนอร์</a>
                                </li>
                                <li>
                                    <a href="login.html">สมัครสมาชิก</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="footerInfoTitle">
                            <h4>Company</h4>
                        </div>
                        <div class="useLink">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="contact-us.html">ติดต่อเรา</a>
                                </li>
                                <li>
                                    <a href="terms-of-services.html">ข้อตกลงและเงื่อนไข</a>
                                </li>
                                <li>
                                    <a href="how-it-works.html">การใช้งาน</a>
                                </li>
                                <li>
                                    <a href="payment-process.html">การชำระเงิน</a>
                                </li>
                                <li>
                                    <a href="pricing-table.html">เราแตกต่างจากที่อื่นอย่างไร</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- COPY RIGHT -->
        <div class="clearfix copyRight">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="copyRightWrapper">
                            <div class="row">
                                <div class="col-sm-5 col-sm-push-7 col-xs-12">
                                    <ul class="list-inline socialLink">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-7 col-sm-pull-5 col-xs-12">
                                    <div class="copyRightText">
                                        <p>Copyright &copy; 2017. All Rights Reserved by
                                            <a href="http://www.wesameway.com/" target="_blank">We Same Way</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    </div>
 
    <!-- LOGIN  MODAL 
    <div name="" id="loginModal" tabindex="-1" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Log In to your Account</h4>
                </div>
                <div class="modal-body">
                    <form class="loginForm">
                        <div class="form-group">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <input type="email" class="form-control" name="" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password" class="form-control" name="" id="pwd" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Log In</button>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me</label>
                            <a href="#" class="pull-right link">Fogot Password?</a>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <p>Don’t have an Account?
                        <a href="#" class="link">Sign up</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
    -->

    <!-- JAVASCRIPTS -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
    <script src="plugins/waypoints/waypoints.min.js"></script>
    <script src="plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="plugins/datepicker/bootstrap-datepicker.min.js"></script>
    <script src="plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/isotope/isotope.min.js"></script>
    <script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="plugins/isotope/isotope-triger.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEDfNcQRmKQEyulDN8nGWjLYPm8s4YB58"></script>
    <script src="plugins/map/js/rich-marker.js"></script>
    <script src="plugins/map/js/infobox_packed.js"></script>
    <script src="javascript/single-map.js"></script>
    <script src="javascript/map.js"></script>
    <script src="javascript/custom.js"></script>

</body>

</html>
